# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.venv/

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# MODELOS IA
# =========================
*.pt
*.onnx
*.engine

# =========================
# VIDEOS Y DATASETS CRUDOS
# =========================
*.mp4
*.avi
*.mov
*.mkv

# =========================
# OUTPUTS GENERADOS
# =========================
outputs/
data/processed/

# =========================
# DATASETS PESADOS
# =========================
data/datasets/

# =========================
# LOGS
# =========================
*.log

# =========================
# CONFIGS DEL SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# PYCHARM
# =========================
.idea/

# =========================
# GOOGLE COLAB
# =========================
*.ipynb

# =========================
# ARCHIVOS TEMPORALES
# =========================
temp/
tmp/